.thumbnail
{
    width:100%;
    
}
.thumbnail:hover,.channel-1:hover{
    cursor: pointer;
}



.video-title{
    font-size:15px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
  
}
.video-info{

    margin-left: -10px;
}



.grid{
    display:grid;
    grid-template-columns: 55px 1fr;
}

.thumbnail-container {
    margin-bottom:10px;
    position:relative;
}
.channel-1{
    width:36px;
    border-radius:30px;
   
    

}


.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;

}


@media (max-width:600px){
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:601px) and (max-width:999px){
    .video-grid{

        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media (min-width:1000px){
    .video-grid{
    
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-author,.video-stats{
     color: rgb(78, 72, 72);
     font-size: 12px;
}


.video-author{

    margin-bottom: 4px;
    
}





.time{
    background-color: black;
    color:white;
    position:absolute;
    bottom:8px;
    right:4px;
    font-family:Roboto,Arial;
    font-size: 16px;
    font-weight:500;
    padding:4px 4px 4px 4px;
    border-radius:2px;



}
.video-link,.channel-link{
text-decoration: none;
}
.video-link{
    
    color:black;
}
.channel-link{
    color:inherit;

}