
.header{
    height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
    
}
.left{
    display:flex;
    align-items: center;
}
.right{
    width:180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.middle{
   
    flex:1;
    margin-left:70px;
    margin-right: 30px;
    max-width: 500px;
    display:flex;
    align-items: center;
}

.menu-icon{

   height:24px;
   margin-left:24px;
   margin-right:24px;

}
.logo{
    
    height:20px;
}

.search-bar{
    flex:1;
    height:34px;
    padding-left:10px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(156, 151, 151);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.1);
    width:0;
    font-size: 16px;
    
}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size:16px;
}
.search-button{

    height:38px;
    width:60px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(156,151,151) ;
    margin-left:-1px;
   margin-right:15px;
   position: relative;
   
    

}
.search-button
,.mic-button
,.upload-icon
,.app-icon
,.notify-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-button .tooltip , .mic-button .tooltip
,.upload-icon .tooltip
,.app-icon .tooltip
,.notify-icon .tooltip{
    position: absolute;
    background-color: gray;
    color:white;
    font-size: 16px;
    bottom: -40px;
    border-width: 1px;
    padding:3px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
    white-space: nowrap;
    
    
     

}

.search-button:hover .tooltip
,.mic-button:hover .tooltip
,.upload-icon:hover .tooltip
,.app-icon:hover .tooltip
,.notify-icon:hover .tooltip{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.search-icon{
    height:30px;
    margin-top: 2px;
    
    
}

.mic-button{

    background-color: rgba(245, 245, 245, 0.76);
    position: relative;
    border-style:none;
    border-radius:30px;
}
.mic-icon{
    height:35px;
    width:25px;
   
}
.upload{
    
    height:24px;
}

.apps{
 
    height:24px;

}
.not{
   
    height:24px;

}
.notify{
    position:relative;
}

.notify{
    position:relative
}
.msg{
    position: absolute;
    background-color: rgb(204,0,0);
    color: white;
    font-family: Roboto,Arial;
    font-size: 11px;
    top:-2px;
    right: -5px;
    padding: 2px 5px 2px 5px;
    border-radius: 18px;

}
.profile{
    margin-right:24px;
    height:32px;

}
.profile:hover{
    cursor: pointer;
}

